In [2]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
us_bd = CustomBusinessDay(calendar=USFederalHolidayCalendar())

import numpy as np
import matplotlib.pyplot as plt

In [3]:
raw_stock_data = pd.read_csv('data/SP500_stock_prices.csv', index_col=0)
raw_stock_data.head()

,Ticker,Open,Low,High,Close,Volume,Sector
Date,,,,,,,
2016-01-04,MMM,148.050003,145.399994,148.320007,146.820007,3277200,Industrials
2016-01-05,MMM,146.820007,145.610001,147.500000,147.460007,2688100,Industrials
2016-01-06,MMM,145.589996,143.419998,145.759995,144.490005,2997100,Industrials
2016-01-07,MMM,142.520004,140.630005,143.130005,140.970001,3553500,Industrials
2016-01-08,MMM,141.360001,140.220001,142.500000,140.490005,2664000,Industrials

In [4]:
stock_tickers = pd.Series(raw_stock_data.Ticker.unique())

period = raw_stock_data.index.unique()
period_length = period.__len__()

#### **Different data cleanup processes**
1. remove nan values.
2. make sure that using logarithm of the closing price doesnt produce a 0... (a.k.a, log(1))
3. remove stocks that havent been in SP500 all of the period.
4.

In [6]:
# remove nan
stock_data = raw_stock_data.dropna()

In [11]:
# remove stock tickers if their length is shorter than the period length
tickers_to_remove = []

for t in stock_tickers:
    t_len = stock_data[stock_data['Ticker'] == t].__len__()
    if t_len < period_length:
        tickers_to_remove.append(t)
        # print(t, t_len)

CARR 10
CDAY 487
CTVA 216
DOW 262
FTV 943
FOXA 268
FOX 267
HWM 859
IR 727
INVH 797
LW 852
MRNA 331
OTIS 10
VICI 566

In [15]:
# remove tickers/rows where the ticker hasnt been in the data long enough according to "tickers_to_remove"
stock_data = stock_data[~stock_data['Ticker'].isin(tickers_to_remove)]
stock_data[stock_data['Ticker'] == 'VICI'].__len__() # it worked.

0

#### **Save the cleaned file**

In [16]:
# save file stock data 
stock_data.to_csv('data/SP500_stock_prices_cleaned.csv')