__Support Vector Machine Implementation for Predicting Stock Price Movement__

In [73]:
# Implementing Support Vector machines model on dataset for stock price prediction
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import yfinance as yf
import requests
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Importing the dataset
df = pd.read_csv('SP500_stock_dataset_PEandMarketCap.csv', delimiter=',')
# Create a new column 'Price Movement'
df['Price Movement'] = np.where(df['Close'] > df['Close'].shift(1), 1, 0)

df.head()

,Date,Ticker,Open,Low,High,Close,Volume,Sector,PE-Ratio,Price Movement
0,2023-01-03,MMM,121.519997,120.370003,122.639999,122.470001,2612800,Industrials,12.066010,0
1,2023-01-04,MMM,123.349998,122.709999,125.290001,125.150002,2769700,Industrials,12.330049,1
2,2023-01-05,MMM,124.209999,122.459999,124.570000,122.959999,2606600,Industrials,12.114286,0
3,2023-01-06,MMM,124.660004,123.750000,127.129997,126.720001,2417000,Industrials,12.484729,1
4,2023-01-09,MMM,127.000000,126.110001,129.460007,126.790001,2871300,Industrials,12.491626,1

In [74]:
# Make date column the index
df = df.set_index('Date')

In [75]:
# only display year, month and day in index
df.index = pd.to_datetime(df.index).date
data = df
data

,Ticker,Open,Low,High,Close,Volume,Sector,PE-Ratio,Price Movement
2023-01-03,MMM,121.519997,120.370003,122.639999,122.470001,2612800,Industrials,12.066010,0
2023-01-04,MMM,123.349998,122.709999,125.290001,125.150002,2769700,Industrials,12.330049,1
2023-01-05,MMM,124.209999,122.459999,124.570000,122.959999,2606600,Industrials,12.114286,0
2023-01-06,MMM,124.660004,123.750000,127.129997,126.720001,2417000,Industrials,12.484729,1
2023-01-09,MMM,127.000000,126.110001,129.460007,126.790001,2871300,Industrials,12.491626,1
...,...,...,...,...,...,...,...,...,...
2023-03-08,ZTS,166.800003,166.699997,169.130005,168.639999,960100,Health Care,37.475555,1
2023-03-09,ZTS,168.889999,167.130005,170.440002,167.490005,1527500,Health Care,37.220001,0
2023-03-10,ZTS,163.000000,160.070007,163.360001,161.529999,3326400,Health Care,35.895555,0
2023-03-13,ZTS,161.990005,159.850006,164.889999,163.410004,2772100,Health Care,36.313334,1
2023-03-14,ZTS,165.960007,162.470001,166.860001,164.559998,1911300,Health Care,36.568888,1

In [76]:


print(data['Sector'].unique())
# assign each different Sector string its own number
data['Sector'] = data['Sector'].map({'Consumer Discretionary': 0, 'Consumer Staples': 1, 'Energy': 2, 'Financials': 3, 'Health Care': 4, 'Industrials': 5, 'Information Technology': 6, 'Materials': 7, 'Real Estate': 8, 'Communication Services': 9, 'Utilities': 10})

['Industrials' 'Health Care' 'Information Technology'
 'Communication Services' 'Consumer Staples' 'Consumer Discretionary'
 'Utilities' 'Financials' 'Materials' 'Real Estate' 'Energy']

In [57]:
data
# save data as csv file
data.to_csv('dummy.csv', index=False)

In [86]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC





# Split the data into training and testing sets
X = data[['Open', 'Low', 'High', 'Volume', 'Sector']]
y = data['Price Movement']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Standardize the input features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train the SVM model
model = SVC(kernel='rbf') # linear, rbf, poly, sigmoid
model.fit(X_train, y_train)

# Make a prediction using the trained SVM model
y_pred = model.predict(X_test)

# Evaluate the performance of the model
accuracy = model.score(X_test, y_test)
print(f"Accuracy: {accuracy}")

Accuracy: 0.5117562870578614